//default colors
$default: #fff;

//primary colors
$primary: #38bcdb;
$primary-hover: #2e91a3;
$primary-footer: rgba(56, 188, 219, .60);

//text
$primary-text: #000;
$secondary-text: #fff;

//background colors
$grey: #a9aaab;

