.faq {
  h2 {
    position: relative;
    margin-bottom: 45px;
  }
  h2:after {
    content:' ';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 95px;
    height: 5px;
    background: $primary;
  }
  img {
    @media screen and (max-width: 992px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }
  }
  .card {
    border: none;
    border-radius: 0;
  }
  .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    h5 {
      .btn.collapsed {
        padding-left: 25px;
        background: url("/assets/img/plus-symbol.svg") no-repeat  0 10px;
        background-size: 15px;
      }
      .btn {
        background: url("/assets/img/minus-symbol.svg") no-repeat  0 16px;
        background-size: 15px;
        padding: 0.375rem 0 0.375em 25px;
        font-size: 0.8125em;
        text-align: left;
      }
      .btn:focus, .btn.focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-body {
    padding: 0;
    ul {
      margin-bottom: 0;
    }
    li {
      padding-bottom: 10px;
    }
  }
}
