.our-story {
  padding: 40px 0;
  background: #000;
  color: $secondary-text;
  h2 {
    padding-bottom: 20px;
    color: $primary;
  }
  p {
    font-size: 1.4375em;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 1.25em;
    }
  }
}
