footer {
  padding: 60px 0;
  background: $primary-footer;
  @media screen and (max-width: 576px) {
    padding: 45px 0;
  }
  .logo {
    width: 275px;
  }
  @media screen and (max-width: 576px) {
    .trilogy-footer-logo {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  p {
    text-align: right;
  }
  @media screen and (max-width: 576px) {
    p {
      text-align: center;
    }
  }
}
